/* Fontes */
@font-face {
  font-family: 'Champagne';
  src: url("../fontes/champagne__limousines-webfont.eot");
  src: url("../fontes/champagne__limousines-webfont.eot?#iefix") format("embedded-opentype"), url("../fontes/champagne__limousines-webfont.woff") format("woff"), url("../fontes/champagne__limousines-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Cores */
/* line 36, ../sass/formularios.scss */
input[type="submit"], .funcionarioQuadro, input#pesquisarHome, input#pesquisarAtividades, input#pesquisarAtividadesAmanha, input#pesquisarEquipes, input#pesquisarCategorias, input#pesquisarRotinas, input#pesquisarHistorico, input#pesquisarDias {
  -webkit-transition: all .43s;
  -moz-transition: all .43s;
  -ms-transition: all .43s;
  -o-transition: all .43s;
  transition: all .43s;
}

/* line 45, ../sass/formularios.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 53, ../sass/formularios.scss */
input[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 64, ../sass/formularios.scss */
form {
  width: 50%;
  margin: 12px auto;
}

/* line 69, ../sass/formularios.scss */
label {
  display: block;
  text-align: center;
  padding: 10px 0 0;
  color: #434343;
  font-family: calibri;
  margin-bottom: 12px;
  background: #CCC;
  padding-top: 14px;
}
/* line 79, ../sass/formularios.scss */
label.chkbox {
  text-align: left;
  padding: 0;
  background: #EEE;
}
/* line 85, ../sass/formularios.scss */
label.metade {
  display: inline-block;
  width: 49.6%;
  margin: 0 0.2% 12px;
}

/* line 92, ../sass/formularios.scss */
input, textarea, select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 14px;
  margin-top: 14px;
  font-family: calibri;
  color: #777;
  font-size: 16px;
}

/* line 102, ../sass/formularios.scss */
textarea {
  height: 106px;
  resize: none;
}

/* line 107, ../sass/formularios.scss */
input[type="submit"] {
  background: #cc4d28;
  color: #FFF;
  border: none;
  padding: 16px 10%;
  display: block;
}
/* line 117, ../sass/formularios.scss */
input[type="submit"]:hover {
  background: #d74e26 none no-repeat;
}

/* line 122, ../sass/formularios.scss */
form input[type="checkbox"] {
  width: 5%;
  height: 22px;
  display: inline-block;
  margin: 20px 0 20px 16px;
}

/* line 128, ../sass/formularios.scss */
form#editarAtividade p, form#editarEquipe p {
  padding-bottom: 0;
  color: #666;
}

/* line 133, ../sass/formularios.scss */
input, select {
  vertical-align: middle;
}

/* line 137, ../sass/formularios.scss */
#dinamicoTerceiros {
  display: none;
}

/* line 141, ../sass/formularios.scss */
#quadroFuncionarios {
  padding: 0;
  border: 1px solid #CCC;
  box-sizing: border-box;
  max-height: 520px;
  overflow: auto;
}

/* line 149, ../sass/formularios.scss */
#quadroFuncionarios h4 {
  background: #777;
  margin: 0px;
  padding: 16px 0;
  color: #FFF;
  font-size: 21px;
  font-family: "Champagne & Limousines", "Champagne";
}

/* line 158, ../sass/formularios.scss */
.funcionarioQuadro {
  padding: 16px 0;
  cursor: pointer;
  border-top: 1px solid #FFF;
}
/* line 164, ../sass/formularios.scss */
.funcionarioQuadro:nth-child(odd) {
  background: #EEE;
}
/* line 167, ../sass/formularios.scss */
.funcionarioQuadro:hover {
  background: #ccc;
}
/* line 171, ../sass/formularios.scss */
.funcionarioQuadro.selecionado {
  background: #9b381c;
  color: #FFF;
}

/* line 177, ../sass/formularios.scss */
input#pesquisarHome, input#pesquisarAtividades, input#pesquisarAtividadesAmanha, input#pesquisarEquipes, input#pesquisarCategorias, input#pesquisarRotinas, input#pesquisarHistorico, input#pesquisarDias {
  width: 60%;
  font-family: arial;
  font-size: 22px;
  font-weight: normal;
  color: #999;
  margin: 10px 0;
  padding: 16px;
  border: #DDD 1px solid;
  display: inline-block;
}

/* line 186, ../sass/formularios.scss */
input#pesquisarHome:focus, input#pesquisarAtividades:focus, input#pesquisarAtividadesAmanha:focus, input#pesquisarEquipes:focus, input#pesquisarCategorias:focus, input#pesquisarRotinas:focus, input#pesquisarHistorico:focus, input#pesquisarDias:focus {
  border: #222 1px solid;
  background: #525252;
  color: #DDD;
}
